name: "Pull Request CI"

on:
  pull_request:
    branches:
      - master
    paths-ignore:
      - "**.md"
      - "readme"
      - "license"
      - "_config.yml"

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v1

      - name: Fetch tags and create reflog
        run: |
          git fetch --tags
          git branch --create-reflog master origin/master
        shell: powershell

      - name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: "2.1.811"
      - name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: "3.1.404"
      - name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: "5.0.100"

      - name: Generate lcov report
        id: build
        run: .\build.ps1 --target='test:coverage' --reportTypes='lcov' --reportDir='coverage'
        shell: powershell

      - name: Publish test coverage
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
